@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

.container {
  width: min(90%, 1170px);
  padding: 0 15px;
  margin: 0 auto;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #444;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.4s linear infinite; /* Safari */
  animation: spin 0.4s linear infinite;
}
